/AI.class
/Equipa.class
/Jogador.class
/Jogos.class
/Liga.class
/APJogos.class
/APJogadores.class
/APMeteo.class
/APHist.class
/AAJogo.class
/AAEquipa.class
/ADVenc.class
/ADEquipa.class
/ADEstado.class
/AMI.class
/AMA.class
/AMD.class
